section{
    max-width: 60%;
    display: flex;
    justify-content: center;
}
.card_wrap {
    position: relative;
}

.svg_wrap {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px 10px;
}

.img_wrap {
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img_wrap:hover {
    transform: scale(1.04);
}

.text-center h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.condition-dropbox ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.condition-dropbox li {
    padding: 10px 0;
    cursor: pointer;
}

.condition-dropbox li a {
    text-decoration: none;
    color: #000;
}

.condition-dropbox li:hover {
    background-color: #f1f1f1;
}

.condition-dropbox ul li:nth-child(1),
.condition-dropbox ul li:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

.condition-dropbox {
    width: 150px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: #fff;
}