<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
html, body {
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.header {
	background-color: #FF7A6B;
	height: 100px;
}

.section {
	/*헤더 밑 푸터 전체 구역 */
	min-height: calc(100% - (100px + 500px));
	max-width: 60%;
	padding: 0 35px 0 35px;
}

.title {
	/* 공지사항 */
	border-bottom: 1px solid #FF7A6B;
	color: #FF7A6B;
}

.underline {
	border-bottom: 1px solid #FF7A6B;
	padding-left: 0;
}
</style>
</head>
<body>
<div th:include="views/header.html"></div>
	<header class="py-4 my-5 mb-4 pb-3 border-bottom">
		<p class="fs-2 fw-bold  text-center title">신고회원관리</p>
	</header>
	<section class="section mt-5 mx-auto mb-5">
		
	</section>

</body>
</html>