<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>  <!--  부트스트랩 아이콘 -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link th:src="@{/css/main.css}">

</head>
<body style="width: 1024px; margin: auto; flex: 1">
<div th:include="/views/header/header.html"></div>

<div class="main">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="https://media.bunjang.co.kr/images/nocrop/1105059583_w1197.jpg" width="1024" height="300" class="sc-eMigcr fVUxsR">
            </div>

            <div class="carousel-item">
                <img src="https://media.bunjang.co.kr/images/nocrop/1103044842_w1197.jpg" width="1024" height="300" class="sc-eMigcr fVUxsR">
            </div>

            <div class="carousel-item">
                <img src="https://media.bunjang.co.kr/images/nocrop/1103490943_w1197.jpg" width="1024" height="300" class="sc-eMigcr fVUxsR">
            </div>

            <div class="carousel-item">
                <img src="https://media.bunjang.co.kr/images/nocrop/1103485261_w1197.jpg" width="1024" height="300"  class="sc-eMigcr fVUxsR">
            </div>

        </div>



        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <br>

        <div class="" style="width: 250px; position: relative">

            <div>
                <p style="font-size: 20px; float: left;">
                <h4>당신을 위한 추천 상품</h4></p>
                <br>
            </div>

            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
                              slides-per-view="4" style="width: 1024px; height: 400px; text-decoration: none;
                                text-align: left">
                <swiper-slide>
                    <a href="#" style="text-decoration: none;">
                       <div class="swiperimgbox">
                           <img src="" width="250px;" height="250px;">
                           <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                           <p><h4>10000원</h4></p>
                       </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

                <swiper-slide>
                    <a href="#" style="list-style: none">
                        <div class="swiperimgbox">
                            <img src="" width="250px;" height="250px;">
                            <p href="#"style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                            <p><h4>10000원</h4></p>
                        </div>
                    </a>
                </swiper-slide>

            </swiper-container>
        </div>


        <img alt="pickup image" src="https://web.joongna.com/assets/images/banner/pickup-banner_pc_1x.webp"  width="1024px" height="300px">
<br>
    <div class="product_box" style="margin: 25px;">
        <div class="product_title">
            <h2>등록된 상품</h2>
        </div>
    </div>

<!-- postcontainerdmf을 감싸는  product_componet 컴포넌트 -->
<div class="product_componet" style="display: flex;">
    <div style="width: 450px; overflow: hidden;">


                <swiper-container style="width: 450px;">
                    <swiper-slide>
                        <a href="#" style="list-style: none">
                            <div class="swiperimgbox">
                                <img src="" width="400px;" height="500px;">
                                <p href="#" style="text-overflow: ellipsis; width: 200px; white-space: nowrap; overflow: hidden;">제목</p>
                                <p><h4>10000원</h4></p>
                            </div>
                        </a>
                    </swiper-slide>

                    <swiper-slide>
                        <a href="#" style="list-style: none">
                            <div class="swiperimgbox">
                                <img src="" width="400px;" height="500px;">
                                <p href="#" style="text-overflow: ellipsis; width: 200px; white-space: nowrap; overflow: hidden;">제목</p>
                                <p><h4>10000원</h4></p>
                            </div>
                        </a>
                    </swiper-slide>

                    <swiper-slide>
                        <a href="#" style="list-style: none">
                            <div class="swiperimgbox">
                                <img src="" width="400px;" height="500px;">
                                <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                                <p><h4>10000원</h4></p>
                            </div>
                        </a>
                    </swiper-slide>

                    <swiper-slide>
                        <a href="#" style="list-style: none">
                            <div class="swiperimgbox">
                                <img src="" width="400px;" height="500px;">
                                <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                                <p><h4>10000원</h4></p>
                            </div>
                        </a>
                    </swiper-slide>

                    <swiper-slide>
                        <a href="#" style="list-style: none">
                            <div class="swiperimgbox">
                                <img src="" width="400px;" height="500px;">
                                <p href="#" style="text-overflow: ellipsis; width: 200px; white-space:
                                nowrap; overflow: hidden;">제목</p>
                                <p><h4>10000원</h4></p>
                            </div>
                        </a>
                    </swiper-slide>
                </swiper-container>
            </div>




    <!-- inner_postcontainer을 감싸는 postcontainer 컴포넌트 -->
    <div class="postcontainer" style="width: 600px;  height: 600px; position: static;">

        <div class="inner_postcontainer" style="margin: auto; width: 400px; height: 220px;  position: static; text-align: left;">
            <a href="#">

                <div class="swiper-slide" style="margin: auto">
                    <img width="410px" height="200px;" src="/img/a.jpg" alt="">
                </div>

                <div style="margin: 5px;">
                    <p href="#" style="text-overflow: ellipsis; white-space: nowrap; margin: auto; overflow: hidden;">제목</p>
                    <p style="font-size: 25px;">10000원</p>
                </div>
            </a>
        </div> <!--inner_postcontainer 끝 -->

        <br><br><br>
        <div class="inner_postcontainer" style="margin: auto; width: 400px; height: 220px;  position: static; text-align: left;">
            <a href="#" style="text-decoration: none">
                <div class="swiper-slide" style="margin: auto">
                    <img width="410px" height="200px;" src="/img/a.jpg" alt="">
                </div>

                <div style="margin: 5px;">
                    <p href="#" style="text-overflow: ellipsis;  white-space: nowrap;
                        overflow: hidden;">제목</p>
                    <p style="font-size: 25px;">10000원</p>
                </div>
            </a>
        </div><!--inner_postcontainer 끝 -->



    </div>

        </div>
    </div> <!-- postcontainer끝 -->

</div> <!-- product_componet 끝 -->


    <br><br>

<div class="mainimg" style="margin: auto;">
    <a href="https://www.police.go.kr/www/security/cyber/cyber04.jsp">
        <img src="/img/cheat.png" width="1024px;" alt=""/></a>
</div>

<br><br>
    <div>
        <h4>꼭! 사야하는 브랜드</h4>
    </div>

<br>

<div class="brandcomponet" style="width: 1024px; display: flex;">
    <div class="brandbox" style="width: 500px; display: flex;">
        <div class="brandboximg">
            <img width="176px;" height="176px;" src="./img/a.jpg">
        </div>

        <div class="brandbox" style="float: left; margin: 35px;">
            <p href="#" style="text-overflow: ellipsis; width: 176px; white-space:
                    nowrap; overflow: hidden;">제목</p>
            <p style="font-size: 25px;">10000원</p>
        </div>
    </div>

    <div class="brandbox" style="width: 500px; display: flex; text-decoration: none">
        <div class="brandboximg">
            <img width="176px;" height="176px;" src="./img/a.jpg">
        </div>

        <div class="brandtext" style="float: left; margin: 35px;">
            <p href="# "style="text-overflow: ellipsis; width: 176px; white-space:
                    nowrap; overflow: hidden;">제목</p>
            <p style="font-size: 25px;">10000원</p>
        </div>

    </div>
</div>

<br><br>

<div class="brandcomponet" style="width: 1024px; display: flex; text-decoration: none">

    <a href="#">
    <div class="brandbox" style="width: 500px; display: flex;">
        <div class="brandboximg">
            <img width="176px;" height="176px;" src="./img/a.jpg">
        </div>
        <div class="brandtext" style="float: left; margin: 35px;">
            <p href="#" style="text-overflow: ellipsis; width: 176px; white-space:
                    nowrap; overflow: hidden;">제목</p>
            <p style="font-size: 25px;">10000원</p>
        </div>

    </div>
    </a>

    <a href="#">
        <div class="brandcompone" style="width: 500px; display: flex;" >
            <div class="brandboximg">
                <img width="176px;" height="176px;" src="/img/a.jpg" alt="">
            </div>

            <div class="brandtext" style="float: left; margin: 35px;">
                <p href="#" style="text-overflow: ellipsis; width: 176px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">제목</p>
                <p style="font-size: 25px;">10000원</p>
            </div>
        </div>
    </a>
</div>

<br><br>

    <div class="mainimg" style="margin: auto;">
        <img src="/img/main.png" width="1024px;">
    </div>


<br><br>
<footer>
     <div th:include="/views/footer/footer.html"></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<!--   부   트  스  트  랩  JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</head>
</body>
</html>
