<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        section{
            max-width: 60%;
            display: flex;
            justify-content: center;
        }

        .token__button1 {
            width: 120px;
            height: 40px;
            font-size: 16px;
            background-color: white;
            color: #FF7A6B;
            border: 1px solid #FF7A6B;
            border-radius: 5px;
            cursor: pointer;
        }
        .token__button1[disabled] {
            background-color: #f2f2f2;
            border: 1px solid #d2d2d2;
            color: #d2d2d2;
            cursor: not-allowed;
        }
        .token__button2 {
            width: 120px;
            height: 40px;
            font-size: 16px;
            background-color: #FF7A6B;
            color: white;
            border: 1px solid #FF7A6B;
            border-radius: 5px;
            cursor: pointer;
        }
        .token__button2[disabled] {
            background-color: #f2f2f2;
            border: 1px solid #d2d2d2;
            color: #d2d2d2;
            cursor: not-allowed;
        }

    </style>
</head>
<body>

<div th:include="/views/header.html"></div>
<section class="container mt-3">
    <div style="width:560px; height: auto; margin: 0 auto; background-color: white;">

        <form action="/user/join" method="post" onsubmit="setJoinDate()">

            <div class="form-group" style="position: relative;">
                <label class="form-label">이름</label>
                <input type="text" name="user_name" class="form-control" placeholder="이름을 입력해주세요." required>
            </div><br>


            <div class="form-group">
                <label class="form-label">아이디</label>
                <div class="input-group">
                    <input type="text" name="user_id" id="user_id" class="form-control" style="width: calc(100% - 90px);" placeholder="아이디를 입력해주세요." required>
                    <button type="button" class="btn btn-primary" style="width: 90px;" onclick="idCheck()" data-bs-toggle="modal" data-bs-target="#exampleModal">중복확인</button>
                </div>
            </div><br>


            <div class="form-group">
                <label class="form-label">비밀번호</label>
                <div class="input-group">
                    <input id="pw" type="password" name="user_pw" class="form-control" style="width: calc(100% - 40px);" placeholder="비밀번호를 입력해주세요." required>
                    <button id="pwToggle" type="button" class="btn btn-outline-secondary" style="width: 40px;"onclick="togglePassword()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </button>
                </div>
            </div><br>


            <div class="form-group">
                <label class="form-label">비밀번호 확인</label>
                <div class="input-group">
                    <input id="repw" type="password" class="form-control" style="width: calc(100% - 40px);" placeholder="비밀번호를 다시 입력해주세요." required>
                    <button id="repwToggle" type="button" class="btn btn-outline-secondary" style="width: 40px;"onclick="togglerePassword()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </button>
                </div>
            </div><br>


            <div class="form-group">
                <label class="form-label">이메일</label>
                <input type="email" name="user_email" class="form-control" placeholder="이메일을 입력해주세요." required>
            </div><br>


            <div class="form-group" style="position: relative;">
                <label class="form-label">닉네임</label>
                <div class="input-group">
                    <input type="text" name="user_nick" id="user_nick" class="form-control" style="width: calc(100% - 90px);" placeholder="닉네임을 입력해주세요." required>
                    <button type="button" class="btn btn-primary" style="width: 90px;" onclick="nickCheck()" data-bs-toggle="modal" data-bs-target="#exampleModal">중복확인</button>
                </div>
            </div><br>


            <div class="form-group">
                <label class="form-label">생일</label>
                <input type="date" name="user_birth" class="form-control">
            </div><br>


            <div class="form-group" style="position: relative;">
                <label class="form-label">전화번호</label>
                <div class="input-group">
                    <input type="tel" class="form-control" name="user_phone" style="width: calc(100% - 120px);" id="tel" onkeyup="test(this);"
                           placeholder="휴대폰 번호를 입력해주세요." maxlength="13" required>
                    <button type="button" class="token__button1" id="token-send" onclick="auth()" disabled="disabled">인증번호 전송</button>
                </div>
            </div><br>


            <div class="body__token2 form-group" style="right: 0px; position: relative; display: none;" id="confirmNum">
                <div class="input-group">
                    <input class="form-control" id="number" style="width: calc(100% - 120px); color: #FF7A6B;"></input>
                    <button type="button" class="token__button2" id="finish" onclick="authFinish()"	style="width: 120px;">인증 확인</button>
                    <div id="timer" style="font-size: 18px; color: gray; position: absolute; right: 138px; top: 5px; z-index: 5;"></div>
                </div>
            </div><br>

            <div class="form-group">
                <input type="hidden" name="user_photo" class="form-control" value="default.png">
                <input type="hidden" name="user_joindate" class="form-control" id="user_joindate">
            </div><br>


            <button type="submit" class="btn btn-outline-secondary" id="joinButton" disabled>회원가입</button>&nbsp;&nbsp;
            <a class="btn btn-outline-danger" href="#" onclick="confirmed()">취소</a>
        </form>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><span id="check-result1"></span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="check-result2"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>



<script th:inline="javascript">

    // 전화번호 입력 필드에 숫자만 입력되도록 처리하는 함수
    function PhoneNumber(input) {
        // 입력된 값에서 숫자만 추출
        var phoneNumber = input.value.replace(/[^0-9]/g, "");
        // 숫자만 입력된 값으로 입력 필드의 값을 설정
        input.value = phoneNumber;
        // 입력된 전화번호의 길이가 10자리 이상인 경우 전송 버튼을 활성화
        if (phoneNumber.length >= 11) {
            document.getElementById("token-send").disabled = false;
        } else {
            // 전화번호가 10자리 미만인 경우 전송 버튼을 비활성화
            document.getElementById("token-send").disabled = true;
        }
    }

    // 전화번호 입력 필드의 입력 이벤트에 함수 연결
    document.getElementById("tel").addEventListener("input", function() {
        PhoneNumber(this);
    });

    function test(e) {
        var number = e.value.replace(/[^0-9]/g, "");
        var phone = "";

        if (number.length < 4) {
            return number;
        } else {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 4);
            phone += "-";
            phone += number.substr(7, 4);
        }

        e.value = phone;
    }


    let timer;
    let isStarted = false; //타이머 작동여부
    let auth = () => {
        if (isStarted === false) {
            // 타이머가 작동 중이 아닐 때
            isStarted = true; // 타이머 작동 상태로 변경
            document.getElementById("finish").disabled = false; // 인증 확인 버튼 활성화
            const token = Math.floor(100000 + Math.random() * 900000); // 6자리 랜덤 숫자 생성
            document.getElementById("number").value = token; // 생성된 랜덤 숫자를 입력 필드에 설정
            document.getElementById("confirmNum").style.display = "block"; // 인증번호 입력 영역 표시

            let time = 60;
            timer = setInterval(function () {
                if (time >= 0) {

                    // 시간이 0초 이상이면
                    const min = Math.floor(time / 60);
                    const sec = String(time % 60).padStart(2, "0");
                    document.getElementById("timer").innerText = min + ":" + sec;
                    time = time - 1;
                } else {

                    // 시간이 0초 이하이면
                    time += 1;
                    const min = Math.floor(time / 60);
                    const sec = String(time % 60).padStart(2, "0");

                    document.getElementById("finish").disabled = true; // 인증 확인 버튼 비활성화
                    isStarted = false;
                    clearInterval(timer); // 타이머 중지
                    document.getElementById("number").value = ""; // 인증번호 입력 필드 초기화
                }
            }, 1000);
        } else {

            // 타이머가 작동 중일 때
        }
    };

    let isAuthCompleted = false;

    let authFinish = () => {
        if (isStarted) {
            //isStarted가 true 일 때(타이머가 작동 중일 때)
            alert("인증이 완료되었습니다");
            clearInterval(timer);
            document.getElementById("token-send").disabled = true;
            document.getElementById("finish").textContent = "인증 완료"; //인증 확인 버튼을 인증 완료 버튼으로 변경
            document.getElementById("finish").disabled = true;
            isAuthCompleted = true; // 인증 완료 상태로 변경
            checkJoinButton(); // 회원가입 버튼 상태를 확인하여 변경
        }
    };

    function checkJoinButton() {
        if (isAuthCompleted) {
            // 인증이 완료되었을 때
            document.getElementById("joinButton").disabled = false; // 회원가입 버튼 활성화
            document.getElementById("joinButton").classList.remove("btn-outline-secondary"); // btn-outline-secondary 클래스 제거
            document.getElementById("joinButton").classList.add("btn-outline-primary"); // btn-outline-primary 클래스 추가
        } else {
            // 인증이 완료되지 않았을 때
            document.getElementById("joinButton").disabled = true; // 회원가입 버튼 비활성화
            document.getElementById("joinButton").classList.remove("btn-outline-primary"); // btn-outline-primary 클래스 제거
            document.getElementById("joinButton").classList.add("btn-outline-secondary"); // btn-outline-secondary 클래스 추가
        }
    }



    function confirmed() {

        const userResponse = window.confirm("회원가입을 정말 취소하시겠습니까?");
        if (userResponse) {
            window.location.href = "/user/login";
        } else {

        }
    }

    function setJoinDate() {

        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
        var day = ('0' + currentDate.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;

        // user_joindate 필드의 값을 설정
        document.getElementById('user_joindate').value = formattedDate;
    }



    let isPasswordVisible = false;

    function togglePassword() {
        const passwordInput = document.getElementById("pw");
        const toggleButton = document.getElementById("pwToggle");

        if (isPasswordVisible) {
            passwordInput.type = "password";
            toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">'+
                '<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>'+
                '<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>'+
                '</svg>';
        } else {
            passwordInput.type = "text";
            toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">'+
                '<path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>'+
                '<path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>'+
                '<path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>'+
                '</svg>';
        }
        isPasswordVisible = !isPasswordVisible;
    }

    function togglerePassword() {
        const passwordInput = document.getElementById("repw");
        const toggleButton = document.getElementById("repwToggle");

        if (isPasswordVisible) {
            passwordInput.type = "password";
            toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">'+
                '<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>'+
                '<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>'+
                '</svg>';
        } else {
            passwordInput.type = "text";
            toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">'+
                '<path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>'+
                '<path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>'+
                '<path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>'+
                '</svg>';
        }
        isPasswordVisible = !isPasswordVisible;
    }



    const idCheck = () => {
        const user_id = document.getElementById("user_id").value;
        const checkResult1 = document.getElementById("check-result1");
        const checkResult2 = document.getElementById("check-result2");

        if (user_id.trim() === "") {
            checkResult1.innerHTML = "아이디 중복확인";
            checkResult2.style.fontSize = "30px";
            checkResult2.innerHTML = "내용을 입력하세요.";
            return;
        }

        console.log("입력값: ", user_id);
        $.ajax({
            type: "post",
            url: "/user/id-check",
            data: {
                "user_id" : user_id
            },
            success: function (res){
                console.log("요청성공",res);
                if (res == "ok"){
                    console.log("사용 가능한 아이디");
                    checkResult1.innerHTML = "아이디 중복확인";
                    checkResult2.style.color = "blue";
                    checkResult2.style.fontSize = "30px";
                    checkResult2.innerHTML = "사용 가능한 아이디입니다.";
                }else {
                    console.log("이미 사용중인 아이디입니다");
                    checkResult1.innerHTML = "아이디 중복확인";
                    checkResult2.style.color = "red";
                    checkResult2.style.fontSize = "30px";
                    checkResult2.innerHTML = "이미 사용중인 아이디입니다.";
                }
            },
            error: function (err){
                console.log("에러발생",err);
            }
        });
    }


    const nickCheck = () => {
        const user_nick = document.getElementById("user_nick").value;
        const checkResult1 = document.getElementById("check-result1");
        const checkResult2 = document.getElementById("check-result2");

        if (user_nick.trim() === "") {
            checkResult1.innerHTML = "닉네임 중복확인";
            checkResult2.style.fontSize = "30px";
            checkResult2.innerHTML = "내용을 입력하세요.";
            return;
        }

        console.log("입력값: ", user_nick);
        $.ajax({
            type: "post",
            url: "/user/nick-check",
            data: {
                "user_nick" : user_nick
            },
            success: function (res){
                console.log("요청성공",res);
                if (res == "ok"){
                    console.log("사용 가능한 닉네임");
                    checkResult1.innerHTML = "닉네임 중복확인";
                    checkResult2.style.color = "blue"
                    checkResult2.style.fontSize = "30px";
                    checkResult2.innerHTML = "사용 가능한 닉네임입니다.";
                }else {
                    console.log("이미 사용중인 닉네임입니다");
                    checkResult1.innerHTML = "닉네임 중복확인";
                    checkResult2.style.color = "red";
                    checkResult2.style.fontSize = "30px";
                    checkResult2.innerHTML = "이미 사용중인 닉네임입니다.";
                }
            },
            error: function (err){
                console.log("에러발생",err);
            }
        });
    }

</script>




<!-- 제이쿼리 3.6.3 -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<!-- 파퍼 1.12.9 -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- 부트스트랩 5.3.2 자바스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>