<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <!-- 다음 지도-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bf290bec6b7de30eb3c7f533f6f6720a&libraries=services"></script>
    <!-- 다음 주소검색 -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <style>
        section{
            max-width: 1400px;
        }
    </style>
</head>
<body>
<div th:include="/views/header"></div>
<section class="container mt-3">


<form action="/save" method="post">

    <div style="margin: auto; justify-content: center; display: flex">
        <div class="imge">
            <label> 이미지선택
                <input type="file" style="display: none;" class="image" multiple onchange="previewImages(this)">
            </label>
        </div>
    </div><br>    <!-- 사진 들어갈곳 -->
    <div id="imagePreview"></div>

    <div style="margin: 10px auto; justify-content: center; display: flex">

        <div style="justify-content: center; display: flex; margin: 10px;">
            <select name="post_productState">
                <option>상품상태</option>
                <option value="새상품">새상품</option>
                <option value="중고">중고</option>
            </select>
        </div>

        <div style="justify-content: center; display: flex; margin: 10px;">
            <select name="category_num">
                <option>카테고리</option>
                <option value="1">여성의류</option>
                <option value="2">남성의류</option>
                <option value="3">신발</option>
            </select>
        </div>

        <div style="margin: 15px;">
            <input name="post_title" id="postTitle" required minlength="4" maxlength="50" size="10"
                   placeholder="제목을 입력하세요" style="width: 300px;  height: 30px;"></div>
    </div>

    <div style="display: flex; justify-content: center">
        <!-- 글내용 -->
        <div class="postDetailcomponet">
            <div class="postTitlebox">
                <label for="post_content" style="margin: auto">
                    <textarea name="post_content" id="post_content" type="text" placeholder="상품명(브랜드) &#10;
                    구매 시기 &#10; 사용여부 &#10;
                    실제 촬영한 사진과 함께 상세 정보를 입력해주세요 &#10;
                    안전하고 건전한 거래환경을 위해 과학기술정보통신부, 한국인터넷진흥원 화개장터가 함께합니다"
                              style="width: 566px; height: 200px; white-space: normal; overflow-wrap: break-word; resize: none;"></textarea>
                </label>
            </div>
        </div>
    </div>

    <br>

    <!--가격 -->
    <div class="postPricecomponet" style="display: flex">
        <div class="pricebox" style="margin: auto;">
            <label for="post_price">
                <input id="post_price" name="post_price" type="text" placeholder="💲판매가격(숫자만 입력하세요)"
                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width: 260px; height: 50px;"></label>
        </div>
    </div>
    <br>
    <div style="display: flex; margin: auto; justify-content: center;">
        <div class="postDealcomponet">
            <label for="post_Address">
                <input id="post_Address" name="post_Address" type="text" placeholder="희망거래장소">
            </label>
        </div>
    </div>
    <br>
    <div class="buttonbox" style="justify-content: center; display: flex">
        <div>
            <button type="submit" value="등록" style="width: 100px;">등록하기</button>
        </div>

        <div style="margin-left: 10px;">
            <button value="취소" style="width: 100px;">취소</button>
        </div>
    </div>
    <input type="hidden" name="post_regdate" id="post_regdate">
    <input type="text" th:value="${session.user.user_num}" name="user_num" id="user_num">



    <script>
        function regdate() {
            var now = new Date();
            var year = now.getFullYear();
            var month = String(now.getMonth() + 1).padStart(2, '0');
            var day = String(now.getDate()).padStart(2, '0');
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');
            var seconds = String(now.getSeconds()).padStart(2, '0');
            // return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;

            document.getElementById("post_regdate").value = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }

    </script>


    post_num <input type="text" name="post_num"> <br>
    post_title<input type="text" name="post_title"> <br>
    post_content<input type="text" name="post_content"> <br>
    post_price<input type="text" name="post_price"> <br>
    post_saleState<input type="text" name="post_saleState"> <br>
    post_regdate<input type="text" name="post_regdate"> <br>
    post_update<input type="text" name="post_update"> <br>
    post_location<input type="text" name="post_location"> <br>
    post_ship<input type="text" name="post_ship"> <br>
    post_shipAddress<input type="text" name="post_shipAddress"> <br>
    post_direct<input type="text" name="post_direct"> <br>
    post_Address<input type="text" name="post_Address"> <br>
    post_hits<input type="text" name="post_hits"> <br>
    post_like<input type="text" name="post_like"> <br>
    post_deliveryFee<input type="text" name="post_deliveryFee"> <br>
    post_productState<input type="text" name="post_productState"> <br>
    user_num<input type="text" name="user_num" th:value="${session.user.user_num}"> <br>
    category_num<input type="text" name="category_num"> <br>
    file_num<input type="text" name="file_num"> <br>
    글작성<input type="submit" value="글작성">
</form>


    <script>
        function regdate() {
            var now = new Date();
            var year = now.getFullYear();
            var month = String(now.getMonth() + 1).padStart(2, '0');
            var day = String(now.getDate()).padStart(2, '0');
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');
            var seconds = String(now.getSeconds()).padStart(2, '0');
            // return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;

            document.getElementById("post_regdate").value = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }

    </script>

</section>

<!-- 제이쿼리 3.6.3 -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>