<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <style>
        section{
            width: 1400px;
            margin: auto;
        }
        .card_wrap {
            position: relative;
        }

        .svg_wrap {
            position: absolute;
            top: 0;
            right: 0;
            padding: 7px 10px 10px;
            border: none;
        }

        .img_wrap {
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .img_wrap:hover {
            overflow: hidden;
            transform: scale(1.04);
        }

        .text-center h5 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        .toast {
            position: fixed; /* 화면에 고정 */
            top: auto; /* 위쪽 위치 자동 해제 */
            bottom: 10%; /* 화면 하단에서 20% 떨어진 곳에 위치 */
            left: 50%; /* 화면의 가로 중앙에 위치 */
            transform: translateX(-50%); /* 정확히 중앙에 오도록 조정 */
            z-index: 9999; /* 다른 요소들 위에 위치하도록 z-index 설정 */
        }
    </style>
    <link rel="stylesheet" href="/css/post/searchList.css">
</head>
<body>
<div th:include="/views/header.html"></div>
<section>
    <div style="display: flex; justify-content: end;" th:if="${searchList.totalPages}>0"> <!-- style : 오른쪽에 정렬하기 위함 -->
        <select class="form-select" aria-label="Default select example" style="width: 150px;">
            <option value="1" selected>최신순</option>
            <option value="2">인기순</option>
            <option value="3">가격 낮은 순</option>
            <option value="4">가격 높은 순</option>
        </select>
    </div>
    <div class="container px-4 mt-5 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            <div class="mb-5 col posts" th:each="post, index : ${searchList}">
                <div class="card h-100 card_wrap">
                    <a th:href="@{/post/{postNum}(postNum=${post.post_num})}">
                        <!-- Product image-->
                        <div class="img_wrap" th:if="${not #lists.isEmpty(post.file_url)}">
                            <img class="card-img-top" th:src="@{|/upload/${post.file_url[0]}|}" height="200"
                                 alt="..."/>
                        </div>

                        <!-- like svg -->
                        <input type="hidden" class="postNum" th:value="${post.post_num}">

                        <!-- Product details-->
                        <div class="p-4 card-body">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 th:text="${post.post_title}"></h5>
                                <!-- Product price-->
                                <h6 th:text="'가격 : '+${post.post_price}" class="fw-bolder"></h6>
                                <span id="location2" th:text="${post.post_location2}"></span>
                                <span>|</span>
                                <span id="regdate" th:text="${post.post_regdate}"></span>
                            </div>
                        </div>
                    </a>
                    <div class="svg_wrap" id="like_wrap">
                        <!-- 좋아요 정보 -->
                        <div th:with="likeInfo=${likesList[__${index.index}__]}" th:if="${session.user != null}">
                            <button th:if="${likeInfo != null && user.user_num == likeInfo.userNum}" id="liked"
                                    onclick="likeProc(this)" th:attr="post_num=${post.post_num}"
                                    style="background:none; border: none">
                                <i class="bi bi-heart-fill" style="font-size: 22px; color: red"></i>
                            </button>
                            <button th:unless="${likeInfo != null && user.user_num == likeInfo.userNum}"
                                    id="unliked" onclick="likeProc(this)" th:attr="post_num=${post.post_num}"
                                    style="background:none; border: none">
                                <i class="bi bi-heart" style="font-size: 22px; color: darkgray"></i>
                            </button>
                        </div>

                        <div th:if="${session.user == null}">
                            <button style="background:none; border: none">
                                <i class="bi bi-heart" style="font-size: 22px; color: darkgray"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" style="border: 1.5px solid #FF7A6B">
        </div>
    </div>
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation example" th:if="${searchList.totalPages}>0">
        <ul class="pagination justify-content-center" id="page-link">
            <li class="page-item">
                <a class="page-link" th:href="@{/post/search(page=1, keyword=${keyword})}">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="${searchList.first} ? '#' : @{/post/search(page=${searchList.number}, keyword=${keyword})}">Prev</a>
            </li>
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!--
                <li class="page-item"><span class="page-link active" th:if="${page == searchList.number + 1}" th:text="${page}"></span></li>
-->
                <li class="page-item page-link active" th:if="${page == searchList.number + 1}" th:text="${page}"></li>
                <li class="page-item" th:unless="${page == searchList.number + 1}"><a class="page-link" th:href="@{/post/search(page=${page},keyword=${keyword})}" th:text="${page}"></a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            </span>
            <li class="page-item">
                <a class="page-link" th:href="${searchList.last} ? '#' : @{/post/search(page=${searchList.number + 2}, keyword=${keyword})}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/post/search(page=${searchList.totalPages}, keyword=${keyword})}">Last</a>
            </li>
        </ul>
    </nav>
    <h1 th:unless="${searchList.totalPages}>0" th:text="${keyword}+'의 검색 결과가 없습니다.'"></h1>
</section>

<!-- like 조작하는 스크립트 -->
<script th:inline="javascript">
    // 토스트를 보여주는 함수
    function showToast(message) {
        // 메시지 내용 변경
        $('.toast .toast-body').text(message);

        // 토스트 보여주기
        $('.toast').toast('show');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const likeProc = (button) => {
            const postNum = button.getAttribute("post_num");
            console.log("postNum : " + postNum);
            $.ajax({
                type: "post",
                url: "/like",
                data: {
                    "postNum": postNum
                },
                success: function (res) {
                    console.log("res.postNum : " + res.postNum);
                    console.log("res.userNum : " + res.userNum);
                    console.log("res.likeNum : " + res.likeNum);

                    let isLiked = res.likeNum;
                    if (isLiked === 0) {
                        button.innerHTML = `<i class="bi bi-heart" style="font-size: 22px; color: darkgray"></i>`;
                        showToast("좋아요를 취소했습니다.");
                    } else {
                        button.innerHTML = `<i class="bi bi-heart-fill" style="font-size: 22px; color: red"></i>`;
                        showToast("찜 목록에 추가되었습니다.");
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }

        // 각각의 좋아요 버튼에 이벤트 리스너 추가
        var likeButtons = document.querySelectorAll('.svg_wrap button');
        likeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                likeProc(this);
            })
        });
    });
</script>


<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const locationElements = document.querySelectorAll('#location2');

        locationElements.forEach(function (element) {
            var location = element.textContent;
            // 띄어쓰기를 기준으로 문자열을 분리하여 두 번째 단어를 추출
            var words = location.split(' ');
            var secondWord = words.slice(1).join(' '); // 두 번째 단어부터 다시 문자열로 합침
            element.textContent = secondWord;
        });
    });

    function formatDate(dateString) {
        const now = new Date();
        const date = new Date(dateString);
        const diff = now - date;
        const minutes = Math.floor(diff / (1000 * 60));
        const hours = Math.floor(diff / (1000 * 60 * 60));
        const days = Math.floor(diff / (1000 * 60 * 60 * 24));
        const months = Math.floor(diff / (1000 * 60 * 60 * 24 * 30));
        const years = Math.floor(diff / (1000 * 60 * 60 * 24 * 30 * 12));

        if (minutes < 60) {
            return minutes + '분 전';
        } else if (hours < 24) {
            return hours + '시간 전';
        } else if (days < 30) {
            return days + '일 전';
        } else if (months < 12) {
            return months + '달 전';
        } else {
            return years + '년 전';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const regdateElements = document.querySelectorAll('#regdate');

        regdateElements.forEach(function (element) {
            var regdate = element.textContent;
            // 날짜 형식 변환 함수 호출
            var formattedDate = formatDate(regdate);
            element.textContent = formattedDate;
        });
    });
</script>

</body>
</html>