<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" style="width: 1024px;">

  <div class="footer_componet" style="margin: auto;">
    <div class="footer_title" style="display: flex;">

      <!-- 사업자 정보 -->
      <div class="about_us" style="margin: auto; width: 250px;">
        <p style="font-weight: 900; font-size: 30px; letter-spacing: 0.5em;">화개장터</p>

        <p class="aboutustext">
          코딩싸롱<br>
          (주)화개장터<br>
          주제 : 중고거래 플랫폼<br>
          기간 : 1월 15 ~ 3월 19<br>
      </div>

      <!-- 사업자 정보 -->
      <div class="about_us" style="margin: auto;">
        <h4>Inromation</h4>

        <p class="Inromationtext">
          개인정보 처리방침<br>
          사업자정보확인<br>
          화개장터 고객센터<br>
          이용약관<br>
      </div>

      <div class="about_us" style="margin: auto;">
        <h4>Our Team information<br></h4>

        <p class="OurTeamInformationtext">
          팀장: 김주언<br>
          팀원: 강문주 유고운 최현우<br>
          Spring boot, Mysql, HTML/CSS, JS<br>
          Tools: VScode, intellij, GIT, notion<br>
      </div>
    </div>
  </div>

</footer>
</body>
</html>