<hr>
<footer style="width: 1400px; margin: auto;">
    <div class="footer_title" style="display: flex; justify-content: space-around">
        <!-- 사업자 정보 -->
        <div class="about_us" style="margin: 20px; width: 300px;">
            <p style="font-weight: 900; font-size: 40px; letter-spacing: 0.5em; margin: 10px;">화개장터</p>
            <br>
            <p class="aboutustext">
                (주)화개장터<br>
                주제 : 중고나라 플랫폼<br>
                기간 : 1월 15 ~ 3월 19<br>
                취준중 : 제2019-서울서초-0097호<br>
                호스팅제공자 : 아마존웹서비스<br></p>
        </div>
        <!-- 사업자 정보 -->
        <div class="about_us" style="margin: 60px;">
            <h4>Inromation<br></h4>
            <br>
            <p class="Inromationtext">
                개인정보 처리방침<br>
                이용약관<br>
                사업자정보확인<br>
                화개장터 고객센터<br>
                이용약관<br>
        </div>
        <div class="about_us" style="margin: 60px;">
            <h4>Our Team information<br></h4>
            <br>
            <p class="OurTeamInformationtext">
                팀장: 김주언<br>
                팀원: 강문주 유고운 최현우<br>
                Back: Spring boot, Mysql<br>
                Front: HTML/CSS, JS<br>
                Tools: VScode, intellij<br>
                GIT, notion<br>
        </div>
        <div class="about_us" style="margin: 60px;">
            <h4>Inromation<br></h4>
            <br>
            <p class="Inromationtext">
                화개장터 파트너 신청<br>
                화개장터 광고문의<br>
                문의: HwagageMarket@market.com<br>
                주소: 서울 관악구 화개장터 빌딩 <br>
        </div>
    </div>
</footer>