.search_input {

    background-color: rgb(255, 255, 255);
    padding: 15px 0px;
    border: 3px rgb(0, 0, 0) solid;

    height: 50px;

    z-index: 1;
}

.search_input::placeholder {
    color: red;
}

/* 검   색  창*/
.hide {
    display: none !important;
}

.rel_search,
.search_input{
    margin: auto;
    width: 300px;
}



.rel_search {
    margin-top: 45px;

    display:flex;
    flex-direction:column; /*검색어 출력시 가로로 출력*/
    justify-content : center;
    border-radius: 12px;

    position: absolute;
    z-index: 1;

}

.pop_rel_keywords {
    list-style: none;

}

.bottomHeader,
.bottomHeader{

    margin: 0 auto;
    display: flex;
}


/*  메            뉴  */
.bottom-menu {
    list-style: none;
    padding: 0;

}

/*  카  테  고  리  아  이  콘*/
#category > p{
    background-color: black;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-list {
    position: relative;
    display: inline-block;
}

.dropdown-list, .submenu , .inner-menu {
    background-color: white
}

.submenu {
    text-align: center;
    display: none;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    padding: 0;
    z-index: 10;
}

.inner-menu {
    display: none;
    position: absolute;
    top: 0;
    margin-left: 170px;

}

.dropdown-list:hover .submenu,
.submenu li:hover .inner-menu {
    display: block;

    transition: 1s ease-in-out; /* 호 버  기  능  천  천  히  제  거*/
    opacity: 3;
}


.submenu li:hover,
.submenu p:hover {
    background-color: rgb(215, 215, 215);

    transition: 1s ease-in;
    opacity: 3;

}


.submenu > ul > li > a {
    text-decoration: none;
    color: black;
}


ul > .inner-menu > li, a {
    text-decoration: none;
    color: black;
}

/*드랍다운 1단 CSS*/
.submenu li {
    width: 170px;
    font-size: 15px;
    margin-top: 10px;

}


/*드랍다운 2단 CSS*/
.inner-menu > li > a{

    font-size: 15px;
    background-color: rgba(255, 255, 255, 0);

}


/* bottomeaderMenu  h o v e r    기   능 */
.bottomHeaderMenu a {
    text-decoration: none; /* 초기에는 밑줄이 없도록 설정 */
    position: relative; /* 포지션을 상대적으로 설정 */
    z-index: 1;
}

.bottomHeader a::after {
    content: ""; /* 가상 요소를 생성하여 밑줄 역할을 수행 */
    display: block;
    position: absolute;
    width: 0;
    height: 2px; /* 밑줄의 두께 설정 */
    background-color: #000; /* 밑줄 색상 설정 */
    transition: width 0.5s ease-in-out; /* 트랜지션 효과 추가 */
}

.bottomHeaderMenu a:hover::after {
    width: 100%; /* 마우스 호버 시 밑줄이 전체 폭으로 나타나도록 설정 */
}

header.css