<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매내역</title>

    <style>
        section{
            width: 1400px;
            margin: auto;
        }
        .card_wrap {
            position: relative;
        }

        .svg_wrap {
            position: absolute;
            top: 0;
            right: 0;
            padding: 7px 10px 10px;
        }

        .img_wrap {
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .img_wrap:hover {
            transform: scale(1.04);
        }

        .text-center h5 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        .condition-dropbox ul {
            list-style-type: none;
            padding: 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .condition-dropbox li {
            padding: 10px 0;
            cursor: pointer;
        }

        .condition-dropbox li a {
            text-decoration: none;
            color: #000;
        }

        .condition-dropbox li:hover {
            background-color: #f1f1f1;
        }

        .condition-dropbox ul li:nth-child(1),
        .condition-dropbox ul li:nth-child(2) {
            border-bottom: 1px solid #ccc;
        }

        .condition-dropbox {
            width: 150px;
            text-align: center;
            position: absolute;
            right: 10px;
            top: 50px;
            background-color: #fff;
        }

    </style>
</head>
<body>
<div th:include="/views/header.html"></div>
<section>
    <div th:include="/views/sidebar.html"></div>

    <div style="width: 1100px; height: auto; float: right;">
        <div style="width:100%; height: 800px; background-color: lightblue;">
            <h1>판매내역</h1>


            <div class="container px-4 mt-5 px-lg-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="mb-5 col" th:each="post:${postList}">

                        <div class="card h-100 card_wrap">
                            <!-- Product image-->
                            <a th:href="@{/post/{postNum}(postNum=${post.post_num})}">
                                <div class="img_wrap">
                                    <img class="card-img-top" src="/img/default.png" height="200" alt="..." />
                                </div>
                            </a>
                            <div class="condition-dropbox" style="display: none;">
                                <ul>
                                    <li><a href="#">상품수정</a></li>
                                    <li><a href="#">상태변경</a></li>
                                    <li><a href="#">상품삭제</a></li>
                                </ul>
                            </div>
                            <!-- dropbox li의 배경을 클릭해도 a태그로 감싼 텍스트를 누른것처럼 동작하게 하는 스크립트  -->
                            <script>

                            </script>
                            <!--dot svg -->
                            <div class="svg_wrap">
                                <svg id="dots_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ccc"
                                     class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                </svg>
                            </div>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    // 모든 .svg_wrap 요소를 선택합니다.
                                    var svgWraps = document.querySelectorAll('.svg_wrap');

                                    svgWraps.forEach(function (svgWrap) {
                                        const dotsSvg = svgWrap.querySelector('svg'); // 각 .svg_wrap 내의 SVG 요소를 선택합니다.
                                        const originalSvg = dotsSvg.cloneNode(true);
                                        const newSvg = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ccc" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                    </svg>`;
                                        let isClicked = false;

                                        // 각 .svg_wrap 요소에 대한 클릭 이벤트 리스너를 추가합니다.
                                        dotsSvg.addEventListener('click', function () {
                                            if (isClicked) {
                                                dotsSvg.innerHTML = originalSvg.innerHTML;
                                                svgWrap.nextElementSibling.style.display = 'none'; // 해당 .svg_wrap 요소의 다음 형제 요소인 드롭박스를 숨깁니다.
                                            } else {
                                                dotsSvg.innerHTML = newSvg;
                                                svgWrap.nextElementSibling.style.display = 'block'; // 해당 .svg_wrap 요소의 다음 형제 요소인 드롭박스를 보여줍니다.
                                            }
                                            isClicked = !isClicked;
                                        });
                                    });
                                });

                            </script>

                            <!-- Product details-->
                            <div class="p-4 card-body">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 th:text="${post.post_title}"></h5>
                                    <!-- Product price-->
                                    <h6 th:text="'가격 : '+${post.post_price}" class="fw-bolder"></h6>
                                    <span id="location2" th:text="${session.user.user_location2}"></span>
                                    <span>|</span>
                                    <span id="regdate" th:text="${post.post_regdate}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>


    </div>
</section>

<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', function () {
        const locationElements = document.querySelectorAll('#location2');

        locationElements.forEach(function(element) {
            var location = element.textContent;
            // 띄어쓰기를 기준으로 문자열을 분리하여 두 번째 단어를 추출
            var words = location.split(' ');
            var secondWord = words.slice(1).join(' '); // 두 번째 단어부터 다시 문자열로 합침
            element.textContent = secondWord;
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        const likeProc = (button) => {
            const postNum = button.getAttribute("post_num");
            console.log("postNum : " + postNum);
            $.ajax({
                type: "post",
                url: "/like",
                data: {
                    "postNum": postNum
                },
                success: function (res) {
                    console.log("res.postNum : " + res.postNum);
                    console.log("res.userNum : " + res.userNum);
                    console.log("res.likeNum : " + res.likeNum);

                    let isLiked = res.likeNum;
                    if (isLiked === 0) {
                        button.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ccc" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>`;
                    } else {
                        button.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>`;
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }

        // 각각의 좋아요 버튼에 이벤트 리스너 추가
        var likeButtons = document.querySelectorAll('.svg_wrap button');
        likeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                likeProc(this);
            })
        });
    });



    function formatDate(dateString) {
        const now = new Date();
        const date = new Date(dateString);
        const diff = now - date;
        const minutes = Math.floor(diff / (1000 * 60));
        const hours = Math.floor(diff / (1000 * 60 * 60));
        const days = Math.floor(diff / (1000 * 60 * 60 * 24));
        const months = Math.floor(diff / (1000 * 60 * 60 * 24 * 30));
        const years = Math.floor(diff / (1000 * 60 * 60 * 24 * 30 * 12));

        if (minutes < 60) {
            return minutes + '분 전';
        } else if (hours < 24) {
            return hours + '시간 전';
        } else if (days < 30) {
            return days + '일 전';
        } else if (months < 12){
            return months + '달 전';
        } else {
            return years + '년 전';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const regdateElements = document.querySelectorAll('#regdate');

        regdateElements.forEach(function(element) {
            var regdate = element.textContent;
            // 날짜 형식 변환 함수 호출
            var formattedDate = formatDate(regdate);
            element.textContent = formattedDate;
        });
    });
</script>


</body>
</html>