<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        section{
            max-width: 60%;
            display: flex;
            justify-content: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<div th:include="/views/header.html"></div>
<section class="container mt-3">
    <div th:include="/views/sidebar.html"></div>


    <div style="width:560px; height: auto; margin: 0 auto; background-color: white;">
        <h1 class="text-center mb-2">정보수정</h1>


        <div class="form-group" style="position: relative;">
            <label class="form-label">이름</label>
            <input type="text" class="form-control" th:value="${updateInfo.user_name}" readonly disabled>
        </div><br>

        <div class="form-group" style="position: relative;">
            <label class="form-label">아이디</label>
            <input type="text" name="user_id" class="form-control" th:value="${updateInfo.user_id}" readonly disabled>
        </div><br>

        <div class="form-group">
            <label class="form-label">비밀번호 변경</label>
            <div class="input-group">
                <input type="password" class="form-control" style="width: calc(100% - 90px);" th:value="${updateInfo.user_pw}" readonly disabled>
                <button type="button" class="btn btn-primary" style="width: 90px;" data-bs-toggle="modal" data-bs-target="#exampleModal">변경하기</button>
            </div>
        </div><br>


        <!-- Modal -->
        <form action="/user/pwUpdate" method="post" onsubmit="return validatePassword()">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경하기</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="position: relative;">
                                <label class="form-label">변경할 비밀번호</label>
                                <input type="password" class="form-control" name="user_pw" id="user_pw" required>
                            </div><br>
                            <div class="form-group" style="position: relative;">
                                <label class="form-label">비밀번호 확인</label>
                                <input type="password" class="form-control" id="confirm_password" required>
                            </div><br>
                        </div>
                            <input type="text" name="user_num" th:value="${updateInfo.user_num}">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>





        <div class="form-group">
            <label class="form-label">이메일</label>
            <input type="email" class="form-control" th:value="${updateInfo.user_email}" readonly disabled>
        </div><br>

        <div class="form-group" style="position: relative;">
            <label class="form-label">닉네임</label>
            <div class="input-group">
                <input type="text" class="form-control" style="width: calc(100% - 90px);" th:value="${updateInfo.user_nick}" readonly disabled>
                <button type="button" class="btn btn-primary" style="width: 90px;" data-bs-toggle="modal" data-bs-target="#nickModal">변경하기</button>
            </div>
            <div class="input-group">
            </div>
        </div><br>
        <!--<button type="button" class="btn btn-primary" style="width: 90px;" onclick="nickCheck()" data-bs-toggle="modal" data-bs-target="#exampleModal2">중복확인</button>
-->
        <!--모달-->
                        <form action="/user/nickUpdate" method="post">
        <div class="modal fade" id="nickModal" tabindex="-1" aria-labelledby="nickModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="nickModalLabel">닉네임 변경</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="input-group">
                                <input type="text" name="user_nick" id="user_nick" class="form-control" style="width: calc(100% - 90px);" placeholder="닉네임을 입력해주세요." required>
                                <button type="button" class="btn btn-primary" style="width: 90px;" onclick="nickCheck()">중복확인</button>
                                <span id="check-result"></span>
                            </div>
                    </div>

                    <input type="text" name="user_num" th:value="${updateInfo.user_num}">

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">저장</button>
                    </div>
                </div>
            </div>
        </div>
                        </form>


        <div class="form-group">
            <label class="form-label">생일</label>
            <input type="birth" class="form-control" th:value="${updateInfo.user_birth}" readonly disabled>
        </div><br>

        <div class="form-group" style="position: relative;">
            <label class="form-label">전화번호</label>
            <input type="text" class="form-control" th:value="${updateInfo.user_phone}" readonly disabled>
        </div><br>


        <div class="form-group">
            <label class="form-label">프로필사진 변경</label>
            <input type="button" class="form-control" data-bs-toggle="modal" data-bs-target="#photoModal" value="변경하기">
        </div><br>

        <form action="/user/photoUpdate" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="photoModalLabel">프로필사진 변경</span></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="file" name="upLoadFile" class="form-control" id="user_photo" required>
                            </div>
                        </div>
                        <input type="text" name="user_num" th:value="${updateInfo.user_num}">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br>
        <span style="float: right; color: gray; font-size: 12px;">탈퇴를 원하시면 회원탈퇴 버튼을 눌러주세요
                <!--<a class="btn btn-outline-danger" onclick="confirmed()" th:href="@{'/myPage/unRegister/' + ${session.user.user_nick}}"> 회원탈퇴</a>-->
                <a class="btn btn-outline-danger" onclick="confirmed()" th:href="@{|/myPage/unRegister/${session.user.user_nick}|}"> 회원탈퇴</a>
            </span>
    </div>
</section>
<br><br><br><br><br><br>

<h1>업데이트</h1>
<br><br><br><br><br><br>




<script th:inline="javascript">
    function confirmed() {
        event.preventDefault();
        const userResponse = window.confirm("회원탈퇴 페이지로 이동할까요?");
        if (userResponse) {
            // 확인을 누르면 링크로 이동
            const userNick = "${session.user.user_nick}";
            window.location.href = "/myPage/unRegister/" + userNick;
        } else {
            // 취소를 누른 경우 아무 동작도 하지 않음
        }
    }

    // URL에서 success 매개변수를 확인하여 업데이트 성공 여부를 판단
    const urlParams = new URLSearchParams(window.location.search);
    const success = urlParams.get('success');

    // 업데이트 성공 시 알림창 띄우기
    if (success === 'true') {
        alert('정보가 수정되었습니다.');
    }

    function validatePassword() {
        var password = document.getElementById("user_pw").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        if (password != confirmPassword) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }
        return true;
    }

    const nickCheck = () => {
        const user_nick = document.getElementById("user_nick").value;
        const checkResult = document.getElementById("check-result");

        if (user_nick.trim() === "") {
            checkResult.innerHTML = "내용을 입력하세요.";
            return;
        }

        console.log("입력값: ", user_nick);
        $.ajax({
            type: "post",
            url: "/user/nick-check",
            data: {
                "user_nick" : user_nick
            },
            success: function (res){
                console.log("요청성공",res);
                if (res == "ok"){
                    console.log("사용 가능한 닉네임");
                    checkResult.style.color = "blue"
                    checkResult.innerHTML = "사용 가능한 닉네임입니다.";
                }else {
                    console.log("이미 사용중인 닉네임입니다");
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 닉네임입니다.";
                }
            },
            error: function (err){
                console.log("에러발생",err);
            }
        });
    }
</script>


<!-- 제이쿼리 3.6.3 -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<!-- 파퍼 1.12.9 -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- 부트스트랩 5.3.2 자바스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>